{% include "header.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}
<div class="jumbotron text-center">
    <div class="container">

        {% if not logged_user %}
                {% with messages = get_flashed_messages() %}
                  {% if messages %}
                    <div class="alert alert-info" role="alert">
                    {% for message in messages %}
                        <span>{{ message }}</span>
                    {% endfor %}
                    </div>
                  {% endif %}
                {% endwith %}
            <div class="login-container">
                <div class="modal-btn" data-toggle="modal" data-target="#RegisterModal">Register</div>
                <div class="modal-btn" data-toggle="modal" data-target="#LoginModal">Login</div>
            </div>
        {% endif %}

        <!-- Register Modal -->
        <div id="RegisterModal" class="modal fade" role="dialog">
          <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Register</h4>
              </div>
              <div class="modal-body">
                <p>Do you want to save this To-Do List?</p>
                  {{ wtf.quick_form(registere_form, novalidate=True, button_map={"submit": "primary"}) }}
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
            </div>

          </div>
        </div>

        <!-- Login Modal -->
        <div id="LoginModal" class="modal fade" role="dialog">
          <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Login</h4>
              </div>
              <div class="modal-body">
                <p>Login to your saved lists</p>
                  {{ wtf.quick_form(login_form, novalidate=True, button_map={"submit": "primary"}) }}
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
            </div>

          </div>
        </div>

  <h1 class="main-header">My To-Do List <i class="fas fa-check-double"></i></h1>
{{ wtf.quick_form(form, novalidate=True, button_map={"submit": "primary"}) }}
    <div class="task-list">
                {% if logged_user %}
            {% for task in db_tasks %}
                <div class="task">
                    <a class="delete-task" href="{{url_for('delete', task_id=task.id)}}"><i class="fas fa-times"></i></a>
                    <span class="name-task">{{task.task_name}}</span>
                    <div class="bottom-task">
                        <span class="tag-name"><i class="fas fa-tag"></i> {{task.tag}}</span>
                        <span class="date-task"><i class="fas fa-calendar-alt"></i> {{task.date}}</span>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            {% for key, value in local_tasks.items() %}
                <div class="task">
                    <a class="delete-task" href="{{url_for('delete', task_id=key)}}"><i class="fas fa-times"></i></a>
                    <span class="name-task">{{value["name"]}}</span>
                    <div class="bottom-task">
                        <span class="tag-name"><i class="fas fa-tag"></i> {{value["tag"]}}</span>
                        <span class="date-task"><i class="fas fa-calendar-alt"></i> {{value["date"]}}</span>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    </div>
</div>
    </div>
{% endblock %}
