{% extends 'bootstrap/base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}To-Do List{% endblock %}

{% block content %}
<div class="jumbotron text-center">
    <div class="container">
        {% if not logged_user %}
        <div class="primary-btn" data-toggle="modal" data-target="#myModal">Register</div>
        <div class="primary-btn" data-toggle="modal" data-target="#LoginModal">Login</div>
        {% endif %}

        {% with messages = get_flashed_messages() %}
          {% if messages %}
            <div class=flashes">
            {% for message in messages %}
                <span>{{ message }}</span>
            {% endfor %}
            </div>
          {% endif %}
        {% endwith %}

        <!-- Register Modal -->
        <div id="myModal" class="modal fade" role="dialog">
          <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Register</h4>
              </div>
              <div class="modal-body">
                <p>Do you want to save this To-Do List?</p>
                  {{ wtf.quick_form(registere_form, novalidate=True, button_map={"submit": "primary"}) }}
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
            </div>

          </div>
        </div>

        <!-- Login Modal -->
        <div id="LoginModal" class="modal fade" role="dialog">
          <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Login</h4>
              </div>
              <div class="modal-body">
                <p>Login to your saved lists</p>
                  {{ wtf.quick_form(login_form, novalidate=True, button_map={"submit": "primary"}) }}
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
            </div>

          </div>
        </div>

  <h1 class="display-4">My To-Do List</h1>
        {% if logged_user %}
            {% for task in db_tasks %}
                <div class="task">
                    <p>{{task.task_name}} {{task.date}} {{task.tag}}<a href="{{url_for('delete', task_id=task.id)}}">x</a></p>
                </div>
            {% endfor %}
        {% else %}
            {% for key, value in local_tasks.items() %}
                <div class="task">
                    <p>{{value["name"]}} {{value["date"]}} {{value["tag"]}}<a href="{{url_for('delete', task_id=key)}}">x</a></p>
                </div>
            {% endfor %}
        {% endif %}
{{ wtf.quick_form(form, novalidate=True, button_map={"submit": "primary"}) }}
</div>
    </div>

{% endblock %}
